@model List<PatientViewModel>

@{
    ViewBag.Title = "Mes patients";
}

@if (!(Session["HasHiddenMessage"] as bool?).GetValueOrDefault(false))
{
    <div id="message-welcome" class="alert alert-warning">
        <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        Bienvenue sur notre nouveau site de gestion de patients. Pour ne plus recevoir ce message, fermez-le.
    </div>
}

<h2>Mes Patients</h2>

<div class="form-group">
    <label>
        <input type="checkbox" id="hideabsents" checked="@Session["cacherabsents"]"/>
        Ne pas afficher les absents
    </label>
</div>

<div id="patient-list">
    @Html.Partial("_PatientList", Model)
</div>

@if (User.Identity.IsAuthenticated && User.IsInRole("Superviseur"))
{
    <div class="text-center">
        <a class="btn btn-success" href="@Url.Action("Create", "Patient")">
            <span class="glyphicon glyphicon-plus"></span>
            Créer un patient
        </a>
    </div>
}

@section scripts
{
    <script type="text/javascript">
        $(function() {
            $("#hideabsents").on('click', function (e) {
                var cb = $(this);
                cb.prop('disabled', true);
                $.post(
                    '@Url.Action("Filter", "Patient")',
                    {},
                    function (data) {
                        cb.prop('disabled', false);
                        if (data == "OK") {
                            $.get(
                                '@Url.Action("List", "Patient")',
                                {},
                                function (listData) {
                                    $('#patient-list').html(listData);
                                }
                            );
                        }
                    }
                );
            });

            $('.delete-patient').on('click', function() {
                if (!confirm('Etes-vous sûr de vouloir supprimer ce patient ?')) {
                    return;
                }

                $('#message-error, #message-success').hide(200).children('div:first').html('');

                var button = $(this);
                $.post(
                    '@Url.Action("Delete", "Patient")',
                    { id: button.data('patient-id') },
                    function(data) {
                        if (data.success) {
                            $('#message-success > div').html('Le patient a été supprimé avec succès.').parent().show(200);
                            button.closest('tr').hide(200, function() { $(this).remove(); });
                        } else {
                            $('#message-error > div').html('Une erreur est survenue lors de la suppression du patient... ' + data.error).parent().show(200);
                        }
                    }
                );
            });

            $('#message-welcome button').on('click', function(e) {
                e.preventDefault();
                $.post(
                    '@Url.Action("HideMessage", "Cookie")',
                    null,
                    function(data) {
                        if (data != "OK") {
                            $('#message-error > div').html('Une erreur est survenue lors de la requête... ').parent().show(200);
                        }
                    });
            });
        });
    </script>
}