@model List<PatientViewModel>

@{
    ViewBag.Title = "Mes patients";
}

@if (!(Session["HasHiddenMessage"] as bool?).GetValueOrDefault(false))
{
    <div id="message-welcome" class="alert alert-warning">
        <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        Bienvenue sur notre nouveau site de gestion de patients. Pour ne plus recevoir ce message, fermez-le.
    </div>
}

<h2>Mes Patients</h2>
<p><input type="checkbox" id="hideabsents" checked="@Session["cacherabsents"]"/><span>Ne pas afficher les absents</span></p>
<table class="table">
    <tr>
        <th>Nom</th>
        <th>Age</th>
        <th>Présent</th>
        <th>Actions</th>
    </tr>
    @foreach (PatientViewModel patient in Model)
    {
        <tr>
            <td>@patient.NomComplet</td>
            <td>@patient.Age</td>
            <td>
                <input type="checkbox" checked="@patient.Present" disabled="disabled" />
            </td>
            <td>
                <a href="@Url.Action("Edit", "Patient", new { id = patient.Id })" class="btn btn-primary">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <button type="button" class="btn btn-danger delete-patient" data-patient-id="@patient.Id">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
    }
</table>

<div class="text-center">
    <a class="btn btn-success" href="@Url.Action("Create", "Patient")">
        <span class="glyphicon glyphicon-plus"></span>
        Créer un patient
    </a>
</div>


@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#hideabsents").on('click', function() {
                $.post(
                    '@Url.Action("Filter", "Patient")');
            });
            $('.delete-patient').on('click', function () {
                if (!confirm('Etes-vous sûr de vouloir supprimer ce patient ?')) {
                    return;
                }

                $('#message-error, #message-success').hide(200).children('div:first').html('');

                var button = $(this);
                $.post(
                    '@Url.Action("Delete", "Patient")',
                    { id: button.data('patient-id') },
                    function (data) {
                        if (data.success) {
                            $('#message-success>div').html('Le patient a été supprimé avec succès.').parent().show(200);
                            button.closest('tr').hide(200, function () { $(this).remove(); });
                        } else {
                            $('#message-error>div').html('Une erreur est survenue lors de la suppression du patient... ' + data.error).parent().show(200);
                        }
                    }
                );
            });

            $('#message-welcome button').on('click', function (e) {
                e.preventDefault();
                $.post(
                    '@Url.Action("HideMessage", "Cookie")',
                    null,
                    function (data) {
                        if (data != "OK") {
                            $('#message-error>div').html('Une erreur est survenue lors de la requête... ').parent().show(200);
                        }
                    });
            });
        });
    </script>
}